h1 {
	font-size: 30px;
	font-family: Arial;
    color: black;
}
img{
	float: right;
}
p{
	font-size: 20px;
	font-family: Arial;
	padding-bottom: 40px;
	float: left;
}
ul {
	font-size: 20px;
	font-family: Arial;
	padding-bottom: 40px;
}
div {
	font-size: 20px;
	font-family: Arial;
	border: none;
	background-color: #BCD2EE;
    height: 37px;
    padding: 50px;
}
h2{
	font-size: 50px;
	font-family: Impact;
}
h4 {
	font-size: 20px;
	
}
#address{
	font-size: 20px;
	font-family: Arial;
	border: none;
	text-align: left;
	padding: 0px;

}
td {
	 vertical-align: text-top;
}
